<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/get-started.css" />
    <link rel="stylesheet" href="/lib/styles.css" />

    <title>
      Circle UI - A simple component library to kick start your application
      design.
    </title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/index.html"
        ><img src="/images/logo.png" width="170px" height="60px" alt="logo-img"
      /></a>
      <ul class="nav-list">
        <li><a class="nav-link" href="/index.html">Home</a></li>
        <li>
          <a class="nav-link link-active" href="/getting-started.html">Docs</a>
        </li>
        <li>
          <a class="nav-link" href="https://github.com/ganeshgajula/circle-ui"
            >Github</a
          >
        </li>
      </ul>
      <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger"><div></div></div>
        <aside class="side-navigation">
          <div class="getting-started-link active-side-nav">
            <a href="/getting-started.html">GETTING STARTED</a>
          </div>
          <div class="components-list-btn">COMPONENTS</div>
          <ul class="side-nav-items-list">
            <li class="side-nav-item">
              <a href="/components/avatar.html">Avatar</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/alert.html">Alert</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/badge.html">Badge</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/button.html">Button</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/card.html">Card</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/image.html">Image</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/input.html">Input</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/lists.html">Lists</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/modal.html">Modal</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/navigation.html">Navigation</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/rating.html">Rating</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/simple-grid.html">Simple Grid</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/text-utilities.html">Text Utilities</a>
            </li>
            <li class="side-nav-item">
              <a href="/components/toast.html">Toast</a>
            </li>
          </ul>
        </aside>
      </div>
    </nav>

    <div class="page-content">
      <aside class="side-navigation">
        <div class="getting-started-link active-side-nav">
          <a href="/getting-started.html">GETTING STARTED</a>
        </div>
        <div class="components-list-btn">
          <a href="#">COMPONENTS</a>
        </div>
        <ul class="side-nav-items-list">
          <li class="side-nav-item">
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/alert.html">Alert</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/badge.html">Badge</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/button.html">Button</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/card.html">Card</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/image.html">Image</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/input.html">Input</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/lists.html">Lists</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/modal.html">Modal</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/navigation.html">Navigation</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/rating.html">Rating</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/simple-grid.html">Simple Grid</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/text-utilities.html">Text Utilities</a>
          </li>
          <li class="side-nav-item">
            <a href="/components/toast.html">Toast</a>
          </li>
        </ul>
      </aside>
      <main class="main-page-content">
        <section class="section-content">
          <h1>Avatar</h1>
          <p>
            An avatar is a graphical representation of a user, mostly in the
            form of an icon or sometimes in initials.
          </p>
          <div class="avatar-container">
            <img
              class="avatar avatar-xsm"
              src="/images/avatar.png"
              alt="avatar-image"
            />
            <img
              class="avatar avatar-sm ml"
              src="/images/avatar.png"
              alt="avatar-image"
            />
            <img
              class="avatar avatar-md ml"
              src="/images/avatar.png"
              alt="avatar-image"
            />
            <img
              class="avatar avatar-lg ml"
              src="/images/avatar.png"
              alt="avatar-image"
            />
            <img
              class="avatar avatar-xl ml"
              src="/images/avatar.png"
              alt="avatar-image"
            />
          </div>

          <pre class="component-code-container">
          <code class="html">
          &lt;img class="avatar avatar-xsm" src="/images/avatar.png" alt="avatar-image" /&gt;

          &lt;img class="avatar avatar-sm" src="/images/avatar.png" alt="avatar-image" /&gt;

          &lt;img class="avatar avatar-md" src="/images/avatar.png" alt="avatar-image" /&gt;

          &lt;img class="avatar avatar-lg" src="/images/avatar.png" alt="avatar-image" /&gt;

          &lt;img class="avatar avatar-xl" src="/images/avatar.png" alt="avatar-image" /&gt;
          </code>
        </pre>
        </section>
        <section class="section-content">
          <h2>Avatar with badge</h2>
          <p>
            In some cases, like social apps we need to show a badge on the right
            corner of the avatar. Below are some examples which shows whether
            the user is online, offline or any other set status.
          </p>

          <div class="avatar-container">
            <div class="img-icon-container">
              <img
                class="avatar avatar-xsm"
                src="/images/avatar.png"
                alt="avatar-image"
              />
              <div class="xsm-badge bdg-green xsm-bdg-position"></div>
            </div>
            <div class="img-icon-container">
              <img
                class="avatar avatar-sm ml"
                src="/images/avatar.png"
                alt="avatar-image"
              />
              <div class="sm-badge bdg-green sm-bdg-position"></div>
            </div>
            <div class="img-icon-container">
              <img
                class="avatar avatar-md ml"
                src="/images/avatar.png"
                alt="avatar-image"
              />
              <div class="md-badge bdg-green md-bdg-position"></div>
            </div>
          </div>
          <pre class="component-code-container">
            <code class="html">
            &lt;div class="img-icon-container"&gt;
              &lt;img class="avatar avatar-xsm" src="/images/avatar.png" alt="avatar-image" /&gt;
              &lt;div class="xsm-badge bdg-green xsm-bdg-position"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="img-icon-container"&gt;
              &lt;img class="avatar avatar-sm" src="/images/avatar.png" alt="avatar-image" /&gt;
              &lt;div class="sm-badge bdg-green sm-bdg-position"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="img-icon-container"&gt;
              &lt;img class="avatar avatar-md" src="/images/avatar.png" alt="avatar-image" /&gt;
              &lt;div class="md-badge bdg-green md-bdg-position"&gt;&lt;/div&gt;
            &lt;/div&gt;
            </code>
          </pre>
        </section>
      </main>
    </div>
  </body>
</html>
